.headphones {

  &__image--1 {

    @include onTablet {
      grid-column: 1/5;
    }
    @include onDesktop {
      grid-column: 1/12;

    }
  }

  &__image--2 {
    grid-column:  8/12;
  }
&__image-container {
  display: grid;
}
}
