.nav {
  margin-bottom: 40px;

  &__list {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 24px;
  }

  &__item {
    display: flex;
    width: fit-content;
    border-bottom: 1px solid transparent;

    transition: border-color 0.3s;

    &:hover {
        border-color: #292929;
    }
  }

  &__link {
    padding-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #292929;
  }
}
