.recommended {
  padding-top: 120px;

  &__title {
    text-align: center;
    font-weight: 700;
    letter-spacing: -1.5px;
    color: #292929;
    margin-bottom: 48px;
    font-size: 32px;
    line-height: 32px;

    @include onTablet {
      margin-bottom: 64px;
      font-size: 40px;
      line-height: 40px;
    }

    @include onDesktop {
      font-size: 48px;
      line-height: 48px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center; //!!//
    gap: 40px;

    @include onDesktop {
      flex-direction: row;
      gap: 24px;

    }

  }
}
